%Node list
-define(NODE_LIST,[
    'nemo@127.0.0.1'
]).

%Nemo's public port, where clients make requests and receive files
-define(PUBLICPORT,8888).

%Nemo's private port, where the api interacts
-define(PRIVATEPORT,9000).

%IPs with sudo privileges
-define(SUDO_IPS, [
    {127,0,0,1}
]).

%Whether or not sasl is on, in production should be true
-define(SASL_ENABLED,false).

%Document root
-define(FILE_LOCATION,<<"/tmp/cc/">>).
