[
    %Nemo's public port, where clients make requests and receive files
    {publicport,80},

    %Nemo's private port, where the api interacts
    {privateport,9000},

    %Whether or not sasl is on, in production should be true
    {sasl,true}
].
